/* 기본 스타일 */
:root
{
    --body-bd-color : #121212;
    --body-color : #fff;
    --content-bd-color : #2e2e2e;

    --border-lightgreen : lightgreen;
    --border-lightsalmon : lightsalmon;
    --border-silver : silver;
    --border-yellow : #ffa700;
    --border-rainbow : linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    --border-lightgoldenrodyellow : lightgoldenrodyellow;
    --border-blue : #0057e7;
    --border-red : #d62d20;
    --border-purple : #6a329f;
    --border-green : #008744;
    
    --button-lightgreen : lightgreen;
    --button-lightsalmon : lightsalmon;
    --button-silver : silver;
    --button-yellow : #ffa700;
    --button-rainbow : linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    --button-lightgoldenrodyellow : lightgoldenrodyellow;
    --button-blue : #0057e7;
    --button-red : #d62d20;
    --button-purple : #6a329f;
    --button-green : #008744;
    --button-filter : #b8a3c2;
    
    --text-color-white : #FFF;
    --text-color-black : #000;
}


body
{
    background-color: var(--body-bd-color);
    color: var(--body-color);
}

.title
{
    text-align: center;
}

#openNav
{
    width: 50px;
    height: 50px;
    font-size: 24px!important;
    background-color: var(--button-filter)!important;
    display: none;
}

#closeNav
{
    width: 50px;
    height: 50px;
    font-size: 48px!important;
    background-color: var(--button-filter)!important;
    text-align: center;
    padding: 0px;
}

.filter
{
    text-align: center;
    width: 100%;
    background-color: var(--content-bd-color);
    max-width: 600px;
    margin: auto;
}

.filter button
{
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
/* 버튼, 이미지 활성화 */
.deactive
{
    --button-lightgreen : white;
    --button-lightsalmon : white;
    --button-silver : white;
    --button-yellow : white;
    --button-rainbow : white;
    --button-lightgoldenrodyellow : white;
    --button-blue : white;
    --button-red : white;
    --button-purple : white;
    --button-green : white;
    --text-color-white : black;
    --text-color-black : black;
}

.active
{
    opacity: 100%;
}
/* 마우스 오버시 */
.button_rank:hover, .button_color:hover
{
    scale: 1.2;
}

/* 버튼 별 색상 */
#n
{
    border: 3px solid var(--border-lightgreen);
    background-color: var(--button-lightgreen);
    color: var(--text-color-white);
}
#r
{
    border: 3px solid var(--border-lightsalmon);
    background-color: var(--button-lightsalmon);
    color: var(--text-color-white);
}
#sr
{
    border: 3px solid var(--border-silver);
    background-color: var(--button-silver);
    color: var(--text-color-white);
}
#ssr
{
    border: 3px solid var(--border-yellow);
    background-color: var(--button-yellow);
    color: var(--text-color-white);
}
#ur
{
    border: 3px solid transparent;
    border-image: var(--border-rainbow);
    border-image-slice: 1;
    background-image: var(--button-rainbow);
    color: var(--text-color-white);
}
#lr
{
    border: 3px solid var(--border-lightgoldenrodyellow);
    background-color: var(--button-lightgoldenrodyellow);
    color: var(--text-color-black);
}
#blue
{
    border: 3px solid var(--border-blue);
    background-color: var(--button-blue);
    color: var(--text-color-white);
}
#red
{
    border: 3px solid var(--border-red);
    background-color: var(--button-red);
    color: var(--text-color-white);
}
#yellow
{
    border: 3px solid var(--border-yellow);
    background-color: var(--button-yellow);
    color: var(--text-color-white);
}
#purple
{
    border: 3px solid var(--border-purple);
    background-color: var(--button-purple);
    color: var(--text-color-white);
}
#green
{
    border: 3px solid var(--border-green);
    background-color: var(--button-green);
    color: var(--text-color-white);
}

/* 이미지 리스트 */
.list
{
    background-color: var(--content-bd-color);
    padding: 5px;
}


.list_content *
{
    vertical-align: middle;
    border: 5px solid black;
}

.list_content .deactive
{
    opacity: 0.5;
}

.list_content .n
{
    border-color: var(--border-lightgreen);
}
.list_content .r
{
    border-color: var(--border-lightsalmon);
}
.list_content .sr
{
    border-color: var(--border-silver);
}
.list_content .ssr
{
    border-color: var(--border-yellow);
}
.list_content .ur
{
    border-image: var(--border-rainbow);
    border-image-slice: 1;
}
.list_content .lr
{
    border-color: var(--border-lightgoldenrodyellow);
}

