/* 기본 스타일 */
:root
{
    --body-bd-color : #121212;
    --body-color : #fff;
    --content-bd-color : #413939;
    --button-yellow : #f1c232;
    --button-blue : #2986cc;
    --button-red : #cc0000;
    --button-purple : #6a329f;
    --button-green : #38761d;
    --button-rainbow : linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
}

body
{
    background-color: var(--body-bd-color);
    color: var(--body-color);
    
}

.filter
{
    text-align: center;
    width: 100%;
    background-color: var(--content-bd-color);
    max-width: 500px;
    margin: auto;
}

.filter button
{
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* 버튼 별 색상 */
#ssr
{
    border: 3px solid var(--button-yellow);
}
#ssr:hover
{
    background-color: var(--button-yellow);
    color: white;
}

#ur
{
    border: 3px solid transparent;
    border-image: var(--button-rainbow);
    border-image-slice: 1;
}
#ur:hover
{
    background-image: var(--button-rainbow);
    color: white;
}

#blue
{
    border: 3px solid var(--button-blue);
}
#blue:hover
{
    background-color: var(--button-blue);
    color: white;
}

#red
{
    border: 3px solid var(--button-red);
}
#red:hover
{
    background-color: var(--button-red);
    color: white;
}

#yellow
{
    border: 3px solid var(--button-yellow);
}
#yellow:hover
{
    background-color: var(--button-yellow);
    color: white;
}

#purple
{
    border: 3px solid var(--button-purple);
}
#purple:hover
{
    background-color: var(--button-purple);
    color: white;
}

#green
{
    border: 3px solid var(--button-green);
}
#green:hover
{
    background-color: var(--button-green);
    color: white;
}

.list
{
    background-color: var(--content-bd-color);
}
